.loadImage {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.image {
  width: 100%;
  height: 37rem;
  object-fit: cover;
  opacity: 1;
  z-index: 0;
}

.information {
  width: 100%;
  height: 220px;
  padding: 0 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
}

.text {
  width: 80%;
  font-size: 1.5rem;
  line-height: 1.2;
  max-height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #141414;
}

.title {
  font-size: 2.5rem;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-transform: capitalize;
}

.mFadeOut {
  opacity: 0.01;
  transition: visibility 0s linear 500ms, opacity 500ms;
}
.mFadeIn {
  opacity: 1;
  transition: visibility 0s linear 1500ms, opacity 1500ms;
}
